@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: black;/*rgb(41, 40, 40);*/
}
.grid{
    width: 340px;/*40vw;*/
    height: 340px;/*40vw;*/

    border:1px solid gray;

    background-color: black;

    display: flex;
    flex-wrap: wrap;
}
.grid > div {

    width: 2rem;
    height: 2rem;
    margin: 0;
    border:1px solid black;/*rgb(162, 172, 162);*/

    background-color: black;
}
.buttonsContainer{
    width: 340px;/*40vw;*/
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 30%;
    height: 100%;
    border: solid;
    background-color: rgb(169,169,169);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Press Start 2P', cursive;
}
#startGame{
    font-family: 'Press Start 2P', cursive;
}
h1{
    color: rgb(245,245,245);
}

.gameover{
    color: rgb(245,245,245);
    position: absolute;
    margin-top: 5%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    visibility: hidden;
 }